html, body {
  overflow: hidden;
  height: 100%
}

body {
  position: relative;
  margin: 0;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
}
