<extend name="Base/base"/>
<block name="content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">模型管理</strong> /
                <small>物流公司</small>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="{:U('express/add_company')}" class="am-btn am-btn-default">
                            <span class="am-icon-plus"></span>
                            新增
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-g" style="margin-top: 10px;">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-bordered am-table-hover ">
                        <thead>
                        <tr>
                            <th class="table-check"><input type="checkbox" class="check-all"/></th>
                            <th class="table-id">ID</th>
                            <th class="table-title">公司名称</th>
                            <th class="table-title">代码</th>
                            <th class="table-date">创建日期</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <empty name="bean_list">
                            <tr>
                                <td colspan="20" class="text-center">
                                    <span class="am-text-danger">OH,这里啥子都没得,请等会儿.</span>
                                </td>
                            </tr>
                        </empty>
                        <volist name="bean_list" id="vo">
                            <tr>
                                <td><input type="checkbox" class="check-item" data-id="{$vo.id}"/></td>
                                <td>{$vo.id}</td>
                                <td><a href="#">{$vo.name}</a></td>
                                <td>{$vo.code}</td>
                                <td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <a href="{:U('express/edit_company',array('id'=>$vo['id']))}"
                                               class="am-btn am-btn-success"><span
                                                    class="am-icon-pencil-square-o"></span> 编辑
                                            </a>
                                            <a href="{:U('express/del_company',array('ids'=>$vo['id']))}"
                                               class="am-btn am-btn-danger ey-ajax-confirm-href"
                                               data-tip="确认删除么？">
                                                <span class="am-icon-trash-o"></span> 删除
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="text-center">
                        {$page}
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>