<extend name="Base/base"/>
<block name="content">
    <div class="admin-content-body">
        <div class="am-u-md-4 am-u-md-offset-4">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd">添加广告</div>
                <div class="am-panel-bd">
                    <form class="am-form"
                          method="post"
                          action="__SELF__"
                          enctype="multipart/form-data">
                        <div class="am-form-group">
                            <label>标题</label>
                            <input type="text" name="title" value="{$info.title}" placeholder="">
                        </div>
                        <div class="am-form-group">
                            <label>URL地址</label>
                            <textarea name="url" cols="30" rows="10"></textarea>
                        </div>
                        <div class="am-form-group">
                            <label>图片文件</label>
                            <input type="file" name="app_file">
                        </div>
                        <div class="am-form-group">
                            <button type="submit" class="am-btn am-btn-block am-btn-danger">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        seajs.use([], function () {


        });
    </script>
</block>
