<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>绑定手机号</title>
    <!-- head 中 -->
    <link rel="stylesheet" href="__PUBLIC__/libs/weui-1.0/style/weui.min.css">
    <style>
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="weui-btn-area">
        <h3 class="text-center">恭喜您绑定成功：{$user.phone}</h3>
    </div>
</div>
</body>
</html>